.sub{
    border: 0;
    padding: 20px 60px;
    border-radius: 15px;
    font-size: 25px;
    margin-left: 285px;
    margin-bottom: 40px;
    cursor:pointer;
}
.no-bd{
    border: 0;
}
.cont{
    width: 100%;
    height: 100%;
    background: #e4e4e4;
}