#head{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    /*align-self: stretch;*/
    /*margin: auto;*/
}
body{
    width: 800px;
    font-size: 20px ;
    margin: 0 auto;
    padding-bottom: 40px;
}
img{
    width: 100%;
}
p{
    text-align: justify;
    margin:0;
}
.mgb{
    margin-bottom: 40px;
}
.mgr{
    margin-right: 40px;
}
.top{
    margin-bottom: 40px;
}
.box{
    background: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
}
.boxi{
    background: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
}
.col-1{
    display: flex;
    flex-direction: column;
    width: 30%;

}
.col-2{
    width: 70%;
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
}
.col-3{
    display: flex;
    flex-direction: column;
    width: 50%;
    /*margin: 0 auto;*/

}
.img{
    flex: 3;
}
